div.friendLinks{
	display flex
	flex-wrap wrap
	justify-content center
	align-items center
	div.friendLinkItem{
		min-width 275px
		width 40%;
		margin 15px
		min-height 425px
		div.mdui-card-media img{
			min-height 275px
		}
	}
}