html{
	width 100%
	body {
		div.appBar div.mdui-appbar.mdui-appbar-fixed{
			z-index 100000
		}
		@import "_partial/drawer.styl"
		@import "_partial/title.styl"
		@import "_partial/mainContent"
		@import "_partial/footer"
		@import "_partial/dark"
		button#goToTopBtn{
			z-index 100
		}
		div#searchDialog{
			padding 15px
			overflow-y scroll
			div#searchResultContainer{
				height 500px
				margin 0
				div.searchResultItem{
					margin 20px 0
					a.searchResultItemTitle{
						font-size 1.2em
						font-weight bold
						text-decoration none
					}
					div.searchResultItemContent{
						font-size 0.8em
						span.searchResultItemMatched{
							font-weight bold
							background #ff0
							color #000
						}
					}
				}
			}
		}
	}
}