<div class="appBar">
	<div class="mdui-appbar mdui-appbar-fixed">
		<div class="mdui-progress mdui-color-transparent" id="pageLoadProgressIndicator">
			<div class="mdui-progress-indeterminate"></div>
		</div>
		<div class="mdui-toolbar mdui-color-theme">
			<button class="mdui-btn mdui-btn-icon mdui-ripple" mdui-drawer="{target:'#left-drawer',overlay:true,swipe:true}">
				<i class="mdui-icon material-icons">&#xe5d2;</i>
			</button>
			<a href="/" class="mdui-typo-headline" id="appBarTitle" data-original-title="<%= config.title %>">
				<%= config.title %>
			</a>
			<div class="mdui-toolbar-spacer"></div>
			<% if (is_post() || is_page()) { %>
				<button
					class="mdui-btn mdui-btn-icon mdui-ripple"
					mdui-tooltip="{content: '<%- __('post.read_on_other_device_tooltip') %> '}"
					id="readOnOtherDeviceBtn"
					mdui-menu="{target: '#mdx_read_on_other_device'}">
					<i class="mdui-icon material-icons">&#xe1b1;</i>
				</button>
				<ul class="mdui-menu mdui-color-white" id="mdx_read_on_other_device"></ul>
			<% } %>
			<% if (theme.search?.enable !== false) { %>
				<button class="mdui-btn mdui-btn-icon mdui-ripple" mdui-dialog="{target: '#searchDialog'}">
					<i class="mdui-icon material-icons">&#xe8b6;</i>
				</button>
			<% } %>
		</div>
	</div>
</div>