<div 
	class="pageTitle mdui-color-theme mdui-color-theme"
	id="pageTitleContainer"
	style="background-image: url('<%- props.background || theme.header_picture_link %>'); ">
	<h1 id="pageTitle">
		<%= props.title %>
	</h1>
</div>