<%
let title = page.title || page.category || page.tag || config.title;
let subtitle = null;
if(is_home()){
	title = config.subtitle || title;
}
if(is_archive() || is_category()){
	subtitle = __('subtitles.article_archive');
}
if(is_year()){
	subtitle = __('subtitles.yearly_archive');
}
if(is_month()){
	subtitle = __('subtitles.monthly_archive');
}
if(is_tag()){
	subtitle = __('subtitles.tag_archive');
}
%>
<div
	class="pageTitle mdui-color-theme mdui-color-theme"
	id="pageTitleContainer"
	style="background-image: url('<%- page.headerPic || theme.header_picture_link %>'); ">
	<h1 id="pageTitle">
		<%= title %>
	</h1>
	<% if (subtitle !== null) { %>
		<h2>
			<%= subtitle %>
		</h2>
	<% } %>
</div>