&.mdui-theme-layout-dark,
&.mdui-theme-layout-auto{
	figure.highlight table tbody tr td.code pre span.line span,
	figure.highlight table tbody tr td.code pre code.hljs span,
	pre.line-numbers code span,
	.mdui-text-color-theme{
		filter: invert(1) hue-rotate(180deg);
	}
	div#left-drawer{
		background-color #303030!important
	}
	div.pageEnd{
		background-color #383838 !important
	}
	footer.footer{
		background-color #212121!important
	}
}