div#left-drawer{
	--drawerWidth 280px
	width var(--drawerWidth)
	&.mdui-drawer-close{
		transform translateX((calc(var(--drawerWidth) * -1)))
	}
	div.drawerHeader{
		div.drawerAbout{
			height 225px
			width 100%
			div.drawerAboutMain{
				height 100%
				width 100%
				--drawer-bg: url(https://picsum.photos/1280/480.webp?random=1)
				display flex
				flex-direction column
				justify-content flex-end
				align-items flex-start
				line-height 1.5rem
				background-position center
				background-repeat no-repeat
				background-size cover
				img.avatar{
					width 50px
					height 50px
					border-radius 999px
					margin 10px 20px
					order 0
				}
				&:before{
					content attr(data-name)
					font-size 18px
					margin 0 20px
					order 1
				}
				&.light:after{
					filter invert(1) hue-rotate(180deg)
				}
				&:after{
					content attr(data-slogan)
					color #ffffffb3
					font-size 14px
					margin 0 0 20px 20px
					order 2
				}
			}
		}
		button.nightMode{
			background-color rgba(0,0,0,.5)
			position absolute
			top 5px
			right 5px
			padding 10px
			color #000
			font-size 20px
			cursor pointer
			transition .3s
		}
	}
	div.mdui-tab.mdui-tab-full-width.mdx-toc-tab{
		min-height 48px
		max-height 72px
		a{
			min-height 0
			min-width 0
			padding 6px
			i{
				font-size 18px
			}
			lable{
				font-size 12px
			}
		}
	}
	nav#drawer-menu div a{
		border-top-right-radius 999px
		border-bottom-right-radius 999px
		white-space normal
		i{
			margin-right 10px
		}
	}
	nav#drawer-toc ol{
		pointer-events none
		li{
			padding 0
			display flex
			flex-direction column
			pointer-events none
			border-top-right-radius 999px
			border-bottom-right-radius 999px
			&::after{
				display none
			}
			a{
				width calc(var(--drawerWidth) - 32px)
				height 48px
				padding 0 16px
				display flex
				align-items center
				border-top-right-radius 999px
				border-bottom-right-radius 999px
				pointer-events all
				span.mdui-list-number{
					margin-right 10px
				}
				span{
					pointer-events none
				}
			}
			width 100%
			i.mdui-icon.material-icons{
				margin 0 5px
			}
		}
	}
}