figure.highlight {
	overflow-y scroll
	table{
		width 100%
		tbody  tr {
			td.gutter{
				width 50px
			}
			td.code pre{
				text-align left !important
				span.line{
					span.comment{
						color #999
					}
					span.string{
						color #d14
					}
					span.keyword,
					span.type,
					span.params,
					span.operator{
						color #00f
					}
					span.selector-id,
					span.selector-class,
					span.attribute,
					span.variable,
					span.title,
					span.literal,
					span.built_in,
					span.number{
						color #606
					}
					span.function,
					span.selector-tag{
						color #900
					}
					span.regexp{
						color #080
					}
					span.tag,
					span.name{
						color #008
					}
				}
				// highligh.js
				code.hljs{
					span.hljs-string,
					span.hljs-attr{
						color #d14
					}
					span.hljs-bullet,
					span.hljs-comment{
						color #999
					}
					span.hljs-link,
					span.hljs-attribute,
					span.hljs-keyword,
					span.hljs-operator,
					span.hljs-variable{
						color #00f
					}
					span.hljs-built_in,
					span.hljs-symbol,
					span.hljs-literal,
					span.hljs-tag,
					span.hljs-selector-id,
					span.hljs-selector-tag,
					span.hljs-selector-class,
					span.hljs-type,
					span.hljs-number{
						color #606
					}
					span.hljs-regexp{
						color #e90
					}
					span.hljs-title,
					span.hljs-section{
						color #900
					}
					span.hljs-quote{
						color #090
					}
				}
			}
		}
	}
}
// prism.js
pre.line-numbers{
	code{
		span.token.function,
		span.token.keyword,
		span.token.key.atrule,
		span.class-name{
			color #00f
		}
		span.token.punctuation,
		span.token.comment{
			color #999
		}
		span.token.scalar.string,
		span.token.assign-left.variable,
		span.token.string,
		span.token.attr-name{
			color #d14
		}
		span.token.operator,
		span.token.builtin.class-name,
		span.token.number,
		span.token.attr-value,
		span.token.property{
			color #606
		}
		span.token.tag{
			color #900
		}
		span.token.selector,
		span.token.namespace{
			color #008
		}
		span.token.regex{
			color #080
		}
	}
}