figure.highlight {
	overflow-y scroll
	table{
		width 100%
		tbody > tr > {
			td.gutter{
				width 50px
			}
			td.code > pre{
				text-align left !important
				span.line{
					span.comment{
						color #999
					}
					span.string{
						color #d14
					}
					span.keyword{
						color #00f
					}
					span.literal,
					span.built_in,
					span.number{
						color #606
					}
				}
		}
		}
	}
}