div.pageInition{
	margin: 25px;
	width: 100%;
	display flex
	justify-content center
	align-items center
	*{
		height 35px
		width 35px
		margin 10px
		border-radius 4px
		display flex
		justify-content center
		align-items center
		transition all .3s ease
	}
	span.current{
		margin-right: 10px
		background #6cf
	}
	a.page-number,
	a.extend{
		color #000
		text-decoration none
		&:hover{
			background rgba(0,0,0,.2)
		}
	}
}