div.postPage{
	margin-top -13.5vh
	overflow unset
	div.postMeta {
		padding 1.5rem 0
		width 100%
		height 2.5rem
		display flex
		justify-content center
		align-items center
		div.mdui-chip {
			margin 0 0.5rem
			span.mdui-chip-title{
				a{
					text-decoration none
				}
			}
		}
	}
	div.mdui-card-content.mdui-typo{
		img,
		p img{
			max-height 75vh
			max-width 100%!important
			width 100%
			object-fit contain
			object-position center
		}
		blockquote.mdx-warn {
			border-left-color #c80000!important
			color #c80000!important
		}
		div.mdui-panel{
			margin 1rem 0
			box-shadow none
			div.mdui-panel-item {
				border-radius 8px!important
				box-shadow none
				background-color #f4f4f4
			}
		}
		div.mdx-github-card{
			margin 1rem 0
		}
		div.mdx-github-card div.mdx-github-info-card{
			border-radius 8px
			background #414141
			height 100pt
			line-height 1.8
			display flex
			flex-direction column
			justify-content space-between
			padding 1.2rem
			*{
				transition all .3s ease
			}
			div.upperLayer a{
				font-size 15px
				display flex 
				justify-content flex-start
				align-items center
				text-decoration none
				border none
				color #fff
				opacity .5
				svg{
					height 20px
					width 20px
				}
				&:before{
					content unset
				}
			}
			div.middleLayer{
				a.repoLink{
					font-size 28px
					color #FFF
					span.owner{
						opacity .5
					}
					&:before{
						content unset
					}
					&:hover{
						opacity .7
					}
				}
				div.repoDescription{
					font-size 15px
					color #fff
					display flex
					div.mdui-spinner{
						position relative
						left calc(50% - 10px)
					}
				}
			}
			div.lowerLayer{
				display flex
				flex-direction row
				justify-content space-between
				font-size 15px
				color #fff
				a{
					text-decoration none
					color #fff
					opacity .5
					&:hover{
						opacity .7
					}
					&:before{
						content unset
					}
				}
			}
		}
		@import "highlight"
	}
	div.pageEnd{
		background-color #ededed
		padding 25px 10px
		max-width 90vw
		margin 20px 0
		overflow unset
		button.mdui-fab.shareBtn{
			transform translate(-65%,-100%)
			position absolute
		}
		div#shareToWechatQRCodeDialog{
			width 300px
			div.mdui-container.shareToWechatQRCodeOuterContainer{
				padding 25px
				width 300px
				height 315px
				text-align center
				img{
					margin-bottom 15px
				}
			}
		}
		div.postTags{
			i.mdui-icon{
				font-size 18px
			}
			a.tag-none-link {
				text-decoration none
				transition opacity .05s ease
				&:before{
					content " #"
				}
				&:last-child {
					margin-right 0
				}
				&:hover{
					opacity .7
				}
			}
		}
		div.nav{
			margin-top 1rem
			height 2.5rem
			display flex
			justify-content space-between
			align-items center
			a{
				display flex
				justify-content center
				align-items center
				text-decoration none
				transition opacity .05s ease
				&:first-child{
					margin-right 1.5rem
				}
				&:last-child{
					margin-left 1.5rem
				}
				&:hover{
					opacity .7
				}
			}
		}
	}
	svg#mdxReadProgress{
		pointer-events: none
		z-index 200
		circle#mdxReadProgressRing{
			transition all .1s ease
			stroke-dasharray 166.5
			stroke-dashoffset 166.5
			transform rotateZ(-270deg) rotateY(180deg)
			transform-origin center
		}
		&.hide{
			opacity 0
		}
	}
}
