div.pageTitle{
	height 50vh
	display flex
	justify-content center
	align-items center
	background var(--titleBackgroundUrl) center no-repeat
	background-size cover
	h1{
		text-shadow: 0 0 10px #00000080;
		text-align center
	}
}